@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: olivedrab;
}

header {
    background: white;
    padding: 20 px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #25272E;
}

.score-board {
    margin: 20px auto;
    border: 3px solid black;
    width: 300px;
    color: white;
    font-size: 46px;
    text-align: center;
    border-radius: 4px;
    padding: 15px 15px;
    font-family: 'Roboto', sans-serif;
    position: relative;

}

.badge {
    background: purple;
    color: white;
    font-size: 18px;
    padding: 2px 10px;
    font-family: 'Roboto', sans-serif;

}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.choices {
    text-align: center;
    margin: 50px;
}

.choice {
    display: inline-block;
    border: 4px solid purple;
    text-align: center;
    border-radius: 50%;
    margin: 0px 20px;
    padding: 10px;
    transition: all 0.3s ease-in;

}

.choice:hover {
    cursor: pointer;
    background: black;
}

#move-message {
    color: #25272E;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border: 4px solid black;
    width: 300px;
    text-align: center;
    margin: auto;
    padding: 20px;

}